li.todolist-infos div{
    display: flex;
    justify-content: space-between;
    
}

li.todolist-infos{
    background-color: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.todolist-infos strong{
    display: block;
    font-size: 16px;
    color: #333;
}

li.todolist-infos div .icons div{
    color: rgb(137, 216, 234);
    cursor: pointer;
    padding: 0 0 0 0;
}

li.todolist-infos div .icons div:hover{
    color: rgb(48, 156, 180);
    
}

li.todolist-infos textarea{
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #666;
    border: 0;
    background: #fff;
    resize: none;
}

li.todolist-infos span{
    color: #C4C4C4;
    cursor: pointer;
}

li.todolist-infos span:hover{
    color: rgb(48, 156, 180);
    transition: 0.2s;
}
